@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;500&display=swap");

.card {
  position: relative;
  top: 20rem;
  bottom: 20rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
  height: 15rem;
  border-radius: 30px;
  background: linear-gradient(140deg, #4605ff, #883bef);
  /* background: black; */
  color: #fff;
  padding: 3rem;
}
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.55);
  filter: blur(48px);
  z-index: -1;
}
.card_visa {
  width: 6rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.card_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10rem;
  right: -1.5rem;
}
.input label {
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  font-weight: 100;
  margin-bottom: 0.4rem;
  margin: 0 3rem;
  font-family: "Saira Semi Condensed", sans-serif;
}
.input input {
  display: block;
  background: transparent;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  width: 7rem;
  position: relative;
  margin: 0 3rem;
  font-weight: lighter;
  font-family: "Saira Semi Condensed", sans-serif;
}

.card_number {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6rem;
  right: 3.5rem;
}
.card_number input {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  background: transparent;
  outline: none;
  color: #fff;
  border: none;
}

/* media quries for tablet */
@media;
